@media only screen and (max-width: 980px) {
    body {
        font-size: 40px;
    }

    .spacer {
        height: 25px;
        width: 100%;
        background-color: #f6f7f9;
    }

    .textinput {
        border: 2px solid #cccccc;
        border-radius: 15px;
        width: 100%;
        font-size: 40px;
        max-width: unset;
    }

    .header {
        font-size: 200%;
    }

    .PRO {
        border-radius: 10px;
    }

    .btn {
        font-size: 40px;
    }

    .formHead {
        max-width: unset;
    }

    .btn {
        border-radius: 15px;
    }

    .formHead {
        padding-top: 5%;
    }

    .form-group {
        padding-top: 5%;
    }

    #agb-divider {
        padding-top: 5%;
    }

    input[type="checkbox"] {
        border: 2px solid #b7b7b7;
    }

    .passwordGenerator {
        border: 4px solid #00bcff;
        border-radius: 20px;
        width: 100%;
        margin-right: 0;
    }

    .passwordGenerator h3 {
        font-size: 200%;
    }

    .side {
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        float: left;
        width: calc(10% - 40px);
        background-color: #f6f7f9;
        display: none;
    }

    .insertPassword {
        width: 100%;
    }

    .middle {
        width: 100%;
        padding: 15px 20px 20px 20px;
    }

    input[type="range"] {
        height: 20px;
    }

    .passwordHighlighter {
        border: 2px solid #00bcff;

    }

    input[type="range"]::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 50%;
        -webkit-appearance: none;
        margin-top: -10px;
    }

    .responsive-side {
        margin-right: 5px;
        margin-bottom: 5px;
        width: calc(50vw - 40px);
        display: block;
    }

    .modalContent {
        width: 80vw;
    }

    .modalContent h3{
        font-size: 100%;
    }
}