
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.containerSELF {
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-div {
    min-height: calc(100vh - 274px);
    width: 100%;
    max-width: 1920px;
    background-color: rgba(0, 188, 255, 0);
    padding: 20px;
}
