<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    function generatePassword() {
        var passwordLength = document.getElementById('passwordLength').value;
        var includeLetters = document.getElementById('includeLetters').checked;
        var includeNumbers = document.getElementById('includeNumbers').checked;
        var includeSpecialChars = document.getElementById('includeSpecialChars').checked;

        var charset = '';
        var lowercaseLetters = 'abcdefghijklmnopqrstuvwxyz';
        var uppercaseLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var numbers = '01234567890123456789';
        var specialChars = '!@#$%^&*()_+-=[]{}|;:,.<>?';

        charset += includeLetters ? lowercaseLetters : '';
        charset += includeLetters ? uppercaseLetters : '';

        charset += includeNumbers ? numbers : '';
        charset += includeSpecialChars ? specialChars : '';

        var password = '';
        for (var i = 0; i < passwordLength; i++) {
            var randomIndex = Math.floor(Math.random() * charset.length);
            password += charset.charAt(randomIndex);
        }

        document.getElementById("password").value = password;
    }

    function generatePassword_and_sendForm() {
        if (areInputsValid()) {
            document.getElementById('passwortVerschlusselt').value = verschluesseln(document.getElementById("password").value, document.getElementById('key').value);
            const formElement = document.getElementById('submitPassword');
            formElement.submit();
        }
    }

    function send_Form(id){
        const formElement = document.getElementById(id);
        formElement.submit();
    }

    function areInputsValid() {
        var inputs = ['key', 'password', 'plattform'];
        var valid = true;
        for (var i = 0; i < inputs.length; i++) {
            var invalid = document.getElementById(inputs[i] + '-invalid');
            var field = document.getElementById(inputs[i]);
            if (field.value === "") {
                field.classList.add("is-invalid");
                invalid.innerHTML = "The " + inputs[i] + " field is required.";
                valid = false;
            } else {
                field.classList.remove("is-invalid");
                invalid.innerHTML = "";
            }
        }
        return valid;
    }

    function updatePasswordLength(length) {
        document.getElementById("passwordLengthDisplay").innerHTML = length;
    }

    function resetSettings(){
        document.getElementById('passwordLength').value = 12;
        updatePasswordLength(12);

        document.getElementById('includeLetters').checked = true;
        document.getElementById('includeNumbers').checked = true;
        document.getElementById('includeSpecialChars').checked = true;
        document.getElementById('viewPassword').checked = true;
    }

    function verschluesseln(passwort, schluessel) {
        let verschluesselt = CryptoJS.AES.encrypt(passwort, schluessel).toString();
        return verschluesselt;
    }

    function entschluesseln(verschluesselt, schluessel) {
        let entschluesselt = CryptoJS.AES.decrypt(verschluesselt, schluessel).toString(CryptoJS.enc.Utf8);
        return entschluesselt;
    }

    function passwortSichtbarMachen() {
        var passwortFeld = document.getElementById("password");
        if (passwortFeld.type === "password") {
            passwortFeld.type = "text";
        } else {
            passwortFeld.type = "password";
        }
    }

    function dehas(passwort,modal_name,modalContent_name) {
        var field = document.getElementById('schluesselHolder');
        if (document.getElementById("schluesselHolder").value === "") {
            openConfirmationModal(modal_name,modalContent_name);
            field.classList.add("is-invalid");
            return
        }
        field.classList.remove("is-invalid");
        let schluessel = document.getElementById("schluesselHolder").value;
        alert("Passwort: " + entschluesseln(passwort, schluessel));
    }

    function dehasCopy(passwort,modal_name,modalContent_name) {
        var field = document.getElementById('schluesselHolder');
        if (document.getElementById("schluesselHolder").value === "") {
            openConfirmationModal(modal_name,modalContent_name);
            field.classList.add("is-invalid");
            return
        }
        field.classList.remove("is-invalid");
        let schluessel = document.getElementById("schluesselHolder").value;
        copy(entschluesseln(passwort, schluessel), "Das Passwort")
    }

    function copy(content) {
        let hiddenInput = document.createElement("input");
        hiddenInput.setAttribute("type", "text");
        hiddenInput.setAttribute("value", content);
        document.body.appendChild(hiddenInput);
        hiddenInput.select();
        document.execCommand("copy");
        document.body.removeChild(hiddenInput);
    }

    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        var elementId = event.target.id;
        input = document.getElementById(elementId);
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function scrollToEnd() {
        window.scrollTo(0, document.body.scrollHeight);
    }

    function enableNewPassword(){
        var repeatpassword = document.getElementById('repeatpassword');
        repeatpassword.disabled = !repeatpassword.disabled;
        var password = document.getElementById('password');
        password.disabled = !password.disabled;
    }

    function openConfirmationModal(modal_name,modalContent_name) {
        var modal = document.getElementById(modal_name);
        modal.style.display = 'flex';
        setTimeout(function () {
            modal.style.opacity = '1';
            document.getElementById(modalContent_name).style.opacity = '1';
        }, 10);
    }

    function closeConfirmationModal(modal_name,modalContent_name) {
        var modal = document.getElementById(modal_name);
        modal.style.opacity = '0';
        document.getElementById(modalContent_name).style.opacity = '0';
        setTimeout(function () {
            modal.style.display = 'none';
        }, 500);
    }

</script>